$themeColor: #0555CE;

$bgColor: #fff;
$bgColor-dark: #F2F4F7;

$borderColor: #E8E8E8;

$txtColor: #262626;
$txtColor-light: #868686;
$txtColor-slight: #c5c5c5;
$txtColor-reverse: #fff;

$color-success: #52C41A;
$color-warning: #FA9904;
$color-danger: #F03838;
$color-info: #909399;